# AL-precincts-with-results.geojson
# AL_precincts_with_results_and_VAP.geojson
# AL_precinct_graph.json
# OR_precincts_with_results_and_VAP.geojson
# OR_precinct_graph.json
# AL-shapefile
# OR-shapefile
# AL_Congressional_Districts_Shapefile
# AL_precincts_full.geojson
# AL-VAP-population.csv
# AL-precincts-with-results-enacted.geojson
.DS_Store
**/.DS_Store
