BASE_FILES
AL_data
OR_data
seawulf_runs/AL/output_raceblind
seawulf_runs/OR/output_raceblind
seawulf_runs/AL/output_vra
seawulf_runs/OR/output_vra
seawulf_runs/AL/input/AL_enacted_baseline.json
seawulf_runs/OR/input/OR_enacted_baseline.json
seawulf_runs/AL/input/AL_graph.json
seawulf_runs/OR/input/OR_graph.json
seawulf_runs/AL/input/AL_enacted_districts_with_stats.geojson
seawulf_runs/OR/input/OR_enacted_districts_with_stats.geojson

.DS_Store
**/.DS_Store
